
<div id="add_clue">
<%= flash[:clue_error] %>
	<!-- <p>This is a new form for clue</p> -->
	<%= form_for :clue, url: game_clues_path(@game), html: {id: "add_clue_form"} do |f| %>
		<%= f.hidden_field :game_id, value: @game.id %>
		<%= f.label :text %>
		<%= f.text_field :text %>
		<%= f.label :keyword %>
		<%= f.text_field :keyword %>
		<%= f.label :pt_value %>
		<%= f.select(:pt_value, [["1", 1], ["2", 2], ["3", 3],["4", 4]]) %>
		<%= f.submit "Add Clue" %>
	<% end %>
</div>