<li><%= clue.text %> <br>
			Keyword: <%= clue.keyword %> <br>Value: <%= clue.pt_value %>
			
			<% if current_user && current_user.id == clue.user.id %>
				<%= button_to "Edit", edit_clue_path(clue), id: "edit_button"%>
				<%= button_to "Delete", clue_path(clue), :method => :delete, data: {confirm: "Are you sure?" }, remote: true, class: "delete_button" %>
			<% end %>
</li>